{% extends 'base.html' %} {% load static %} {% block 'title' %}Login
{%endblock%} {% block 'content' %}
<br />
<h1 class="form-title text-center">Login</h1>
<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input
      type="text"
      class="form-control"
      id="username"
      name="username"
      placeholder="Enter your username"
    />
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Enter your password"
    />
  </div>
  <button type="submit" class="btn btn-success">Login</button>
</form>

{% endblock %}
